test/fixtures/workflows/linear-simple.json
{
  "id": "linear-simple-001",
  "name": "Linear Simple",
  "active": false,
  "settings": { "executionOrder": "v1" },
  "nodes": [
    {
      "id": "node-trigger-001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [100, 200],
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 9 * * *" }]
        }
      }
    },
    {
      "id": "node-http-001",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [300, 200],
      "parameters": {
        "url": "https://api.example.com/data",
        "method": "GET"
      }
    },
    {
      "id": "node-set-001",
      "name": "Set Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [500, 200],
      "parameters": {
        "assignments": {
          "assignments": [
            { "name": "processed", "value": "={{ $json.data }}", "type": "string" }
          ]
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "HTTP Request", "type": "main", "index": 0 }]]
    },
    "HTTP Request": {
      "main": [[{ "node": "Set Fields", "type": "main", "index": 0 }]]
    }
  }
}
